doctype html
html
    head
        title="Hello Pug"
        style 
            include style.css
    body
        div.app
            p Hello! Login successful!
            p Find all books you need.